body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.header-section{
    background-image: url(images/header-cover2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}
.header-section h1{
    margin: 0;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 65px;
    color: #FFD700;
}
.header-section p{
    margin: 15px auto 0 auto;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    color: #0057B8;
    background-color: #FFD700;
    border: 45px solid #0057B8;
}
.header-section a{
    display: block;
    margin: 40px auto;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: tomato;
    height: 30px;
    width: 120px;
    background-color: #f5f6fa;
    padding-top: 9px;
    border-radius: 5px;
}
.header-section a:hover{
    color: #f5f6fa;
    background-color: #eb4d4b;
}
.donate-iteam-section{
    margin-top: 150px;
}
.donate-head h3{
    text-align: center;
    font-size: 40px;
    color: #eb4d4b;
    margin-bottom: 0; 
}
.donate-head p{
    text-align: center;
    color: #30336b;
}
.form-section{
    margin: 70px 0 50px 0;
}
.donate-submit{
    display: flex;
    margin-left: 12%;
}
.donate-submit h4{
    display: inline;
    font-size: 20px;
    justify-content: center;
}
.radio{
    padding: 50px 80px;
    background-color: antiquewhite;
    margin: 0 20px;
}
.medicine{
    border: 5px solid #30336b;
    background-color: #eb4d4b;
}
#button{
    display: block;
    margin-top: 30px;
}
.submit-text{
    width: 765px;
    border: none;
    border-bottom: 2px solid #30336b;
    margin-top: 40px;
    margin-left: 24.5%;
    text-align: center;
}
.submit-button{
    margin-top: 30px;
    margin-left: 43%;
    padding: 10px 20px;
    font-weight: 900;
    color: #30336b;
    background-color: #eb4d4b;
    border: none;
    border-radius: 5px;
}
.submit-button:hover{
    background-color: #30336b;
    color: #eb4d4b;
    font-weight: 900;
}
.donate-plan{
    margin: 155px 0 100px 0;
}
.plan-text-container h3{
    text-align: center;
    left: 0.8;
    font-size: 40px;
    color: #eb4d4b;
    margin: 10px 0 20px 0;
}
.plan-text-container p{
    text-align: center;
    color: #30336b;
    margin: 0 0 80px 0;
}
.plan-container{
    display: flex;
}
.child-container{
    width: 15%;
    margin: 0 2%;
    padding: 0 50px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.child-container:hover{
    background-color: #eb4d4b;
}
.child-container img{
    display: block;
    padding-top: 20px;
    width: 120px;
    height: 100px;
    margin: 0 auto;
}
.child-container h5{
    text-align: center;
    font-size: 20px;
    color: #30336b;
}
.child-container p{
    text-align: justify;
    color: #30336b;
}
.hashtag{
    text-align: center;
    color: #0057B8;
    margin: 200px 400px 0 400px;
    font-size: 50px;
    padding: 20px 40px;
    background-color:#FFD700;
    border: 50px solid #0057B8;
}
.fund-raise-section{
    display: flex;
    margin: 100px 0;
}
.fund-raise-msg-container{
    width: 40%;
    margin: 0 50px 0 250px;
    padding: 20px 0 0 30px;
    box-shadow: -15px 0  #30336b, 0 5px 10px #747d8c, 5px 0 10px #747d8c, 0 -5px 10px #747d8c;
    border-radius: 10px;
    background-color: #eb4d4b;
}
.fund-raise-msg-container h2{
    color: #30336b;
    font-weight: bolder;
}
.fund-raise-msg-container p{
    text-align: justify;
    width: 400px;
    margin-bottom: 25px;
    color: antiquewhite;
}
.fund-raise-img-container{
    width: 40%;
    margin-right: 250px;
}
.fund-raise-img-container img{
    width: 400px;
    height: 280px;
    float: right;
    box-shadow: -5px 0 10px #747d8c, 0 5px 10px #747d8c, 15px 0  #eb4d4b, 0 -5px 10px #747d8c;
    border-radius: 10px;
}
.fund-raise-msg-container a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #eb4d4b;
    background-color: #30336b;
}
.fund-raise-msg-container a:hover{
    background-color: antiquewhite;
    color: #30336b;
}
.fund-raise-section2{
    display: flex;
    margin: 100px 0;
}
.fund-raise-img-container2{
    width: 40%;
    margin-left: 250px;
}
.fund-raise-img-container2 img{
    width: 400px;
    height: 280px;
    float: left;
    box-shadow: -15px 0  #eb4d4b, 0 5px 10px #747d8c, 5px 0 10px #747d8c, 0 -5px 10px #747d8c;
    border-radius: 10px;
}
.fund-raise-msg-container2{
    width: 40%;
    margin: 0 250px 0 50px;
    padding: 20px 0 0 30px;
    box-shadow: -5px 0 10px #747d8c, 0 5px 10px #747d8c, 15px 0 #30336b, 0 -5px 10px #747d8c;
    border-radius: 10px;
    background-color: #eb4d4b;
}
.fund-raise-msg-container2 h2{
    color: #30336b;
    font-weight: bolder;
}
.fund-raise-msg-container2 p{
    text-align: justify;
    width: 400px;
    margin-bottom: 25px;
    color: antiquewhite;
}
.fund-raise-msg-container2 a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #eb4d4b;
    background-color: #30336b;
}
.fund-raise-msg-container2 a:hover{
    background-color: antiquewhite;
    color: #30336b;
}
.form-section{
    margin: 150px 0 200px 0;
}
.contact-section{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #eb4d4b;
}
.form{
    display: block;
    text-align: center;
    margin: 0 450px;
    padding: 60px 0;
    background-color: antiquewhite;
}
.email{
    background-color: antiquewhite;
    border-width: 3px 0px 3px 3px;
    border-color: #30336b;
    border-style: solid;
    border-radius: 5px 0px 0px 5px;
    padding: 10px 70px;
    margin-right: 0%;
}
.send{
    background-color: #eb4d4b;
    color: #30336b;
    font-weight: 700;
    padding: 10px 20px;
    border-width: 3px 3px 3px 0px;
    border-color: #30336b;
    border-style: solid;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}
.footer{
    background-color: #30336b;
    padding: 70px 0;
}
.footer h3{
    text-align: center;
    color: #eb4d4b;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
}
.footer small{
    display: block;
    text-align: center;
}
